{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Banking App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Banking App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'transaction_history' %}">Transactions</a></li>
                <li>
                    <form id="logout-form" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    </li>

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
